In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import os


import sys
sys.path.insert(0, '..')  # 将上一层目录添加到系统路径

data_path = os.getenv('data_path')

In [3]:
import os
import re

def find_files(directory, regex):
    """
    在指定的目录及其子目录中查找符合正则表达式的文件。

    参数:
    directory (str): 要搜索的目录路径。
    regex (str): 用于匹配文件名的正则表达式。

    返回:
    list: 符合条件的文件的完整路径列表。
    """
    matched_files = []
    compiled_regex = re.compile(regex)

    for root, dirs, files in os.walk(directory):
        for file in files:
            if compiled_regex.match(file):
                matched_files.append(os.path.join(root, file))

    return matched_files


find_files(data_path,r'.*famconf.*\.dta$')

['C:\\Users\\lee\\nutcloud\\Data\\cfps\\2012\\cfps2012famconf_092015.dta',
 'C:\\Users\\lee\\nutcloud\\Data\\cfps\\2014\\cfps2014famconf_170630.dta',
 'C:\\Users\\lee\\nutcloud\\Data\\cfps\\2016\\cfps2016famconf_201804.dta',
 'C:\\Users\\lee\\nutcloud\\Data\\cfps\\2018\\cfps2018famconf_202008.dta',
 'C:\\Users\\lee\\nutcloud\\Data\\cfps\\2020\\cfps2020famconf_202301.dta']

In [29]:
family_dta_path = os.path.join(data_path,'cfps/2020/cfps2020famconf_202301.dta')

df = pd.read_stata(family_dta_path,convert_categoricals = False)
df.head()

,fid20,fid18,fid16,fid14,fid12,fid10,fid_base,subpopulation,subsample,psu,...,interrupt,cyear20,cmonth20,iwmode20,kz1pid20,sresppid20,interviewerid20,genetype20,familysize20,releaseversion
0,100051.0,100051.0,100051.0,100051.0,-8.0,-8.0,110043.0,6.0,1.0,45.0,...,0.0,2020.0,7.0,2.0,100051502.0,100051502.0,427784.0,0.0,3.0,1.0
1,100051.0,100051.0,100051.0,100051.0,-8.0,-8.0,110043.0,6.0,1.0,45.0,...,0.0,2020.0,7.0,2.0,100051502.0,100051502.0,427784.0,0.0,3.0,1.0
2,100051.0,100051.0,100051.0,100051.0,110043.0,110043.0,110043.0,6.0,1.0,45.0,...,0.0,2020.0,7.0,2.0,100051502.0,100051502.0,427784.0,1.0,3.0,1.0
3,100125.0,100125.0,100125.0,100125.0,110147.0,110147.0,110147.0,6.0,1.0,45.0,...,0.0,2020.0,7.0,2.0,110147102.0,110147102.0,823876.0,1.0,1.0,1.0
4,100160.0,100160.0,-8.0,-8.0,-8.0,-8.0,120009.0,6.0,1.0,79.0,...,0.0,2020.0,8.0,2.0,100160601.0,100160601.0,136496.0,0.0,3.0,1.0

In [4]:
import os 

print(os.getcwd())
import sys
sys.path.insert(0, '..')

from src.reader import *

c:\Users\lee\nutcloud\研究\Replication\cui2019

In [9]:
#import feather


file_path = 'C:\\Users\\lee\\nutcloud\\Data\\cfps\\2020\\cfps2020famconf_202301.dta'


df = read_data(file_path)

NameError: name 'read_data' is not defined

In [3]:


df = read_cfps(file_path)
df[['wav']]

NameError: name 'read_cfps' is not defined

In [32]:
def process_mother_children(df,code = 'pid_a_c'):
    children_cols = [s for s in df.columns if s.startswith('pid_a_c')]
    df_female = df[['pid','wav','tb2_a_p'] + children_cols].query(
        'tb2_a_p == 0')

    df_female = df_female.applymap(lambda x: np.nan if (x < 0 or x == 79) else x)
    return df_female

In [33]:
all_family_df_list = find_files(data_path,r'.*famconf.*\.dta$');all_family_df_list

result = []
for file_path in all_family_df_list:
    df = read_cfps(file_path)
    result.append(process_mother_children(df))

df = pd.concat(result)

C:\Users\lee\nutcloud\Data\cfps\2012\cfps2012famconf_092015.dta
feather存在，读取feather。
C:\Users\lee\nutcloud\Data\cfps\2014\cfps2014famconf_170630.dta
feather存在，读取feather。
C:\Users\lee\nutcloud\Data\cfps\2016\cfps2016famconf_201804.dta
feather存在，读取feather。
C:\Users\lee\nutcloud\Data\cfps\2018\cfps2018famconf_202008.dta
feather存在，读取feather。
C:\Users\lee\nutcloud\Data\cfps\2020\cfps2020famconf_202301.dta
feather存在，读取feather。

In [34]:
df

,pid,wav,tb2_a_p,pid_a_c1,pid_a_c2,pid_a_c3,pid_a_c4,pid_a_c5,pid_a_c6,pid_a_c7,pid_a_c8,pid_a_c9,pid_a_c10
0,1.004534e+08,2012,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.004534e+08,2012,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.051794e+08,2012,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1.086404e+08,2012,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1.100021e+08,2012,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51244,2.112291e+08,2020,0.0,6.694542e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51246,6.694542e+09,2020,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51250,4.106501e+08,2020,0.0,6.759192e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51252,6.759192e+09,2020,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51255,6.770892e+09,2020,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
def find_cfps(year,db,data_path=data_path):
    return find_files(data_path + '/cfps', f'.*{year}.*{db}.*\.dta$')

find_cfps('','child')

['C:\\Users\\lee\\nutcloud\\Data/cfps\\2011\\cfps2011child_202202.dta',
 'C:\\Users\\lee\\nutcloud\\Data/cfps\\2012\\cfps2012child_201906.dta',
 'C:\\Users\\lee\\nutcloud\\Data/cfps\\2014\\cfps2014child_201906.dta',
 'C:\\Users\\lee\\nutcloud\\Data/cfps\\2016\\cfps2016child_201906.dta',
 'C:\\Users\\lee\\nutcloud\\Data/cfps\\2018\\cfps2018childproxy_202012.dta',
 'C:\\Users\\lee\\nutcloud\\Data/cfps\\2020\\cfps2020childproxy_202112.dta']

In [36]:
find_files(data_path, '.*2020.*famconf.*\.dta$')

['C:\\Users\\lee\\nutcloud\\Data\\cfps\\2020\\cfps2020famconf_202301.dta']

# 正式开始

In [136]:
year = 2016

In [138]:
family_df = read_cfps(find_cfps(year,'famconf')[0])

family_df.head()

C:\Users\lee\nutcloud\Data/cfps\2016\cfps2016famconf_201804.dta
feather存在，读取feather。

,fid16,fid14,fid12,fid10,fid_provcd16,fid_countyid16,fid_urban16,pid,code_a_p,co_a16_p,...,sresppid,kz1pid,kz101pid,cyear,cmonth,iwmode,subpopulation,subsample,releaseversion,wav
0,100051.0,100051.0,-8.0,-8.0,11.0,45.0,1.0,100051501.0,501.0,1.0,...,100051502.0,100051502.0,78.0,2016.0,9.0,2.0,6.0,1.0,1.0,2016
1,100051.0,100051.0,-8.0,-8.0,11.0,45.0,1.0,100051502.0,502.0,1.0,...,100051502.0,100051502.0,78.0,2016.0,9.0,2.0,6.0,1.0,1.0,2016
2,100376.0,-8.0,-8.0,-8.0,13.0,235.0,1.0,100376551.0,551.0,1.0,...,130094103.0,130094103.0,78.0,2016.0,12.0,2.0,6.0,1.0,1.0,2016
3,100435.0,-8.0,-8.0,-8.0,13.0,52.0,0.0,100435552.0,552.0,1.0,...,130155103.0,130155103.0,78.0,2016.0,8.0,2.0,6.0,1.0,1.0,2016
4,100453.0,100453.0,100453.0,-8.0,43.0,29.0,1.0,100453401.0,401.0,1.0,...,430111101.0,430111101.0,78.0,2016.0,12.0,1.0,6.0,1.0,1.0,2016

In [139]:
children_cols = [s for s in family_df.columns if s.startswith('code_a_c')]
children_cols

df_female = df[['pid','wav','tb2_a_p'] + children_cols].query(
    'tb2_a_p == 0')
df_female

,pid,wav,tb2_a_p,code_a_c1,code_a_c2,code_a_c3,code_a_c4,code_a_c5,code_a_c6,code_a_c7,code_a_c8,code_a_c9,code_a_c10
0,1.000515e+08,2020,0.0,107.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
3,1.101471e+08,2020,0.0,79.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
5,1.001607e+08,2020,0.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
6,1.200091e+08,2020,0.0,651.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
8,1.003766e+08,2020,0.0,602.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51244,2.112291e+08,2020,0.0,652.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
51246,6.694542e+09,2020,0.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
51250,4.106501e+08,2020,0.0,651.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
51252,6.759192e+09,2020,0.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0
51255,6.770892e+09,2020,0.0,79.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0,-8.0

In [140]:
df_female = df_female.applymap(lambda x: np.nan if (x < 0 or x == 79) else x)

mother_children = df_female.drop('tb2_a_p',axis=1)
mother_children.head()

,pid,wav,code_a_c1,code_a_c2,code_a_c3,code_a_c4,code_a_c5,code_a_c6,code_a_c7,code_a_c8,code_a_c9,code_a_c10
0,100051501.0,2020,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,110147102.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,100160651.0,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,120009102.0,2020,651.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,100376551.0,2020,602.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
child_mother_df  = mother_children.melt(
    id_vars=['pid', 'wav'], 
    value_name='child_pid').drop(
        'variable',axis=1
        ).rename(columns={'pid':'mother_pid'}).dropna()
child_mother_df

         mother_pid   wav  child_pid
0       100051501.0  2020      107.0
3       120009102.0  2020      651.0
4       100376551.0  2020      602.0
8       277731501.0  2020      552.0
11      430111102.0  2020      103.0
...             ...   ...        ...
221114  441697102.0  2020      103.0
221128  441699106.0  2020      501.0
221484  441953106.0  2020      208.0
228949  621472102.0  2020      101.0
247109  441953106.0  2020      209.0

[34630 rows x 3 columns]

In [143]:
person_df = read_cfps(find_cfps(year,'adult')[0])

C:\Users\lee\nutcloud\Data/cfps\2016\cfps2016adult_201906.dta
feather存在，读取feather。

In [144]:
person_sub_df = person_df[['pid','wav','age','gender','pc1']].rename(columns={'pc1':'enroll'})
person_sub_df.columns = 'child_' + person_sub_df.columns

person_sub_df

         child_pid  child_wav  child_age  child_gender  child_enroll
0      230384101.0       2016       52.0           0.0          -8.0
1      230052102.0       2016       45.0           0.0          -8.0
2      230364103.0       2016       22.0           0.0           1.0
3      230385431.0       2016       52.0           0.0          -8.0
4      230045101.0       2016       31.0           0.0           0.0
...            ...        ...        ...           ...           ...
36887  621419101.0       2016       70.0           0.0          -8.0
36888  621163103.0       2016       65.0           1.0          -8.0
36889  621311102.0       2016       65.0           0.0          -8.0
36890  621311101.0       2016       69.0           1.0          -8.0
36891  620392101.0       2016       68.0           1.0          -8.0

[36892 rows x 5 columns]

In [ ]:
child_proxy_df = read_cfps(find_cfps(year,'child')[0])
child_proxy_df.head()

C:\Users\lee\nutcloud\Data/cfps\2016\cfps2016child_201906.dta
feather存在，读取feather。

,pid,fid16,fid14,fid12,fid10,provcd16,countyid16,cid16,urban16,selfrpt,...,rswt_rescs16,rswt_natpn1016,rswt_respn1016,cfps2016edu,cfps2016sch,cfps2016eduy,cfps2016eduy_im,releaseversion,interviewerid,wav
0,211915501.0,211915.0,211915.0,-8.0,-8.0,21.0,162.0,231800.0,0.0,0.0,...,NaN,NaN,NaN,1.0,1.0,0.0,0.0,2.1,11228.0,2016
1,230394103.0,138434.0,230394.0,230394.0,230394.0,23.0,54.0,121800.0,1.0,0.0,...,24744.0,136940.0,83549.0,1.0,2.0,1.0,1.0,2.1,11228.0,2016
2,210254105.0,210254.0,210254.0,210254.0,210254.0,21.0,147.0,226000.0,1.0,0.0,...,NaN,26226.0,NaN,1.0,1.0,0.0,0.0,2.1,11228.0,2016
3,230035104.0,230035.0,230035.0,230035.0,230035.0,23.0,54.0,122020.0,0.0,0.0,...,9858.0,38314.0,26414.0,1.0,2.0,4.0,4.0,2.1,11228.0,2016
4,211931104.0,211931.0,211931.0,211931.0,211931.0,21.0,162.0,231800.0,0.0,1.0,...,NaN,4983.0,NaN,1.0,2.0,4.0,4.0,2.1,11228.0,2016

In [ ]:
child_young_df = child_proxy_df[['pid','wav','age','gender','pc1_b_1']].rename(columns={'pc1_b_1':'enroll'})
child_young_df.columns = 'child_' + child_young_df.columns
child_young_df

        child_pid  child_wav  child_age  child_gender  child_enroll
0     211915501.0       2016        3.0           1.0           0.0
1     230394103.0       2016        7.0           1.0           0.0
2     210254105.0       2016        6.0           1.0           1.0
3     230035104.0       2016        9.0           1.0           1.0
4     211931104.0       2016       11.0           1.0           1.0
...           ...        ...        ...           ...           ...
8422  621180106.0       2016        7.0           1.0           1.0
8423  621163102.0       2016       10.0           1.0           1.0
8424  621323108.0       2016       15.0           1.0           1.0
8425  621317551.0       2016        2.0           0.0           0.0
8426  312021103.0       2016        8.0           0.0           1.0

[8427 rows x 5 columns]

In [154]:
child_df = pd.concat([child_young_df,person_sub_df])

In [153]:
child_mother_df.merge(child_df,how='left').query('child_age >=10 & child_age <=19')

Empty DataFrame
Columns: [mother_pid, wav, child_pid, child_wav, child_age, child_gender, child_enroll]
Index: []

In [161]:
mother_df = person_df[['pid','wav','pw1r','birthy','pa401','pa401ccode']].rename(
    columns={'pw1r':'edu','pa401':"birth_address",'pa401ccode':'birth_prov','ibirthy':'birthy'})
mother_df.columns = 'mother_' + mother_df.columns 
mother_df

,mother_pid,mother_wav,mother_edu,mother_birthy,mother_birth_address,mother_birth_prov
0,230384101.0,2016,NaN,1964.0,-8.0,-8.0
1,230052102.0,2016,NaN,1971.0,-8.0,-8.0
2,230364103.0,2016,NaN,1994.0,-8.0,-8.0
3,230385431.0,2016,NaN,1964.0,-8.0,-8.0
4,230045101.0,2016,NaN,1985.0,-8.0,-8.0
...,...,...,...,...,...,...
36887,621419101.0,2016,NaN,1946.0,-8.0,-8.0
36888,621163103.0,2016,-8.0,1951.0,NaN,NaN
36889,621311102.0,2016,NaN,1951.0,-8.0,-8.0
36890,621311101.0,2016,NaN,1947.0,-8.0,-8.0
36891,620392101.0,2016,NaN,1948.0,-8.0,-8.0

In [165]:
mother_df[['mother_birth_address']].value_counts().sort_index()

mother_birth_address
-8.0                    32507
-1.0                        1
 1.0                      381
 2.0                       79
 3.0                      106
 4.0                       84
 5.0                       86
dtype: int64

In [149]:
child_mother_df

         mother_pid   wav  child_pid
0       100051501.0  2020      107.0
3       120009102.0  2020      651.0
4       100376551.0  2020      602.0
8       277731501.0  2020      552.0
11      430111102.0  2020      103.0
...             ...   ...        ...
221114  441697102.0  2020      103.0
221128  441699106.0  2020      501.0
221484  441953106.0  2020      208.0
228949  621472102.0  2020      101.0
247109  441953106.0  2020      209.0

[34630 rows x 3 columns]

In [152]:
reg_df = child_mother_df.merge(
            child_df,how='left').merge(
                mother_df,how='left').query(
                    'child_age >=10 & child_age <=19').applymap(
                        lambda x: np.nan if (x < 0 or x == 79) else x)

reg_df.head()

,mother_pid,wav,child_pid,child_wav,child_age,child_gender,child_enroll
0,100051501.0,2020,107.0,NaN,NaN,NaN,NaN
1,120009102.0,2020,651.0,NaN,NaN,NaN,NaN
2,100376551.0,2020,602.0,NaN,NaN,NaN,NaN
3,277731501.0,2020,552.0,NaN,NaN,NaN,NaN
4,430111102.0,2020,103.0,NaN,NaN,NaN,NaN

In [ ]:
reg_df.describe().round(2)

,mother_pid,wav,child_pid,child_wav,child_age,child_gender,child_enroll,mother_wav,mother_edu,mother_birthy,mother_pa401ccode
count,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
reg_df.to_csv(f'reg_df_{year}.csv',index=False)

In [133]:
import pandas as pd
import glob

# 找到所有以 'reg_df_' 开头的 CSV 文件
file_list = glob.glob('reg_df_*.csv')

# 读取所有文件并存入列表
df_list = [pd.read_csv(file) for file in file_list]

# 纵向合并所有 DataFrame
combined_df = pd.concat(df_list, ignore_index=True)

# 保存到新的 CSV 文件，不包含索引
combined_df.to_csv('reg_df.csv', index=False)